*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.principal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sobre {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_sobre{
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}